// default config

layout {
    width 42
    gaps 0
    anchor "left"
    layer "top"
}

style {
    border-radius 0
    background "#000"
}

start {

    label {
        text ""
        size 28
        mouse-left "notify-send" "Hello, World!"
    }

    battery {
        charging-color "#73F5AB"
    }

    time {
        format "%I\n%M"
    }

    /-spectrum {
        // scroll-up "wpctl" "set-volume" "@DEFAULT_SINK@" "3%+"
        // scroll-down "wpctl" "set-volume" "@DEFAULT_SINK@" "3%-"
    }

    mpris {
        placeholder "󰝚"
        mouse-left "play-pause"
        mouse-right "next"
        mouse-middle "stop"
    }

}

middle {

    niri {
        spacing 10
        workspace-active-style {
            text-color "#fff"
            border {
                color "$fg"
                width 3.0
                radius 0.0
            }
        }
        workspace-hovered-style {
            background "#aaa4"
        }
    }

}

end {

}

