// default config

layout {
    width 42
    gaps 0
}

style {
    border-radius 0
    background "#000"
}

start {

    label {
        text ""
        size 28
    }

    battery {
        charging-color "#73F5AB"
    }

    time {
        format "%I\n%M"
    }

    /-cava {
        // scroll-up "wpctl" "set-volume" "@DEFAULT_SINK@" "3%+"
        // scroll-down "wpctl" "set-volume" "@DEFAULT_SINK@" "3%-"
    }

    mpris {
        placeholder "󰝚"
        mouse-left "play-pause"
        mouse-right "next"
        mouse-middle "stop"
    }

}

middle {

    niri {
        spacing 10
        // workspace-offset 0
    }

}

end {

}

