site_name: FrostBar
docs_dir: wiki
site_url: https://ind-e.github.io/FrostBar/
repo_url: https://github.com/Ind-E/FrostBar
edit_uri: edit/main/docs/wiki/

strict: true

theme:
  name: material
  features:
    - naviagtion.instant
    - search.suggest
    - content.code.copy
    - content.action.edit
    - content.footnote.tooltips
  palette:
    - media: "(prefers-color-scheme)"
      primary: custom
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      primary: custom
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: custom
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.magiclink
  - footnotes
  - toc:
      permalink: '#'

plugins:
  - search

not_in_nav:
  index.md
