name: "cachix"
on:
  release:
    types: [created]

jobs:
  nix-build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@v1.3.1
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v14
      with:
        name: frostbar
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Build packages and push to cachix
      run: nix build .
