name: nix-cache
on:
  release:
    types: [created]

jobs:
  nix-binary-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v14
        with:
          name: frostbar
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix --extra-experimental-features 'nix-command flakes' build
